<form method="POST" class="step">
	<fieldset>
		<legend>Personal data</legend>

		<dl>
			<dt><label for="firstName">First name</label></dt>
			<dd><input type="text" name="firstName" id="firstName" class="form-control" placeholder="First name..." /></dd>
			<dt><label for="firstName">Last name</label></dt>
			<dd><input type="text" name="lastName" id="lastName" class="form-control" placeholder="Last name..." /></dd>
			<dt></dt>
			<dd><button type="submit" class="btn btn-success" accesskey="s">Next</buton></dd>
		</dl>
	</fieldset>
</form>
