<form method="POST" class="step">
	<fieldset>
		<legend>Bank Account</legend>

		<dl>
			<dt><label for="iban">IBAN</label></dt>
			<dd><input type="text" name="iban" id="iban" class="form-control" placeholder="IBAN..." /></dd>
			<dt><label for="bic">BIC</label></dt>
			<dd><input type="text" name="bic" id="bic" class="form-control" placeholder="BIC..." /></dd>
			<dt></dt>
			<dd>
				<button type="button" class="btn" id="previous" accesskey="p">Previous</buton>
				<button type="submit" class="btn btn-success" accesskey="s">Next</buton>
			</dd>
		</dl>
	</fieldset>
</form>
